Versión servicios con BD/AplicacionTuLibroOnline/src/jbiServiceUnits/ServiciosVenta/DescriptorBPEL/VentaLibrosWSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="VentaLibrosWSDL" targetNamespace="http://j2ee.netbeans.org/wsdl/ServiciosVenta/src/VentaLibrosWSDL"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://j2ee.netbeans.org/wsdl/ServiciosVenta/src/VentaLibrosWSDL" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <types/>
    <message name="VentaLibrosWSDLOperationRequest">
        <part name="ISBN" type="xsd:string"/>
        <part name="idCliente" type="xsd:string"/>
        <part name="unidades" type="xsd:int"/>
        <part name="precioUnidad" type="xsd:int"/>
    </message>
    <message name="VentaLibrosWSDLOperationResponse">
        <part name="resultado" type="xsd:string"/>
    </message>
    <message name="VentaLibrosWSDLOperation1Request">
        <part name="idCliente" type="xsd:string"/>
        <part name="nombreCliente" type="xsd:string"/>
        <part name="saldo" type="xsd:float"/>
    </message>
    <message name="VentaLibrosWSDLOperation1Response">
        <part name="resultado" type="xsd:string"/>
    </message>
    <message name="VentaLibrosWSDLOperation1Request1">
        <part name="ISBN" type="xsd:string"/>
        <part name="nombreLibro" type="xsd:string"/>
        <part name="unidades" type="xsd:int"/>
    </message>
    <message name="VentaLibrosWSDLOperation1Response1">
        <part name="resultado" type="xsd:string"/>
    </message>
    <message name="VentaLibrosWSDLOperation1Request2">
        <part name="idCliente" type="xsd:string"/>
        <part name="saldo" type="xsd:float"/>
    </message>
    <message name="VentaLibrosWSDLOperation1Response2">
        <part name="resultado" type="xsd:string"/>
    </message>
    <message name="VentaLibrosWSDLOperation1Request3">
        <part name="ISBN" type="xsd:string"/>
        <part name="unidades" type="xsd:int"/>
    </message>
    <message name="VentaLibrosWSDLOperation1Response3">
        <part name="resultado" type="xsd:string"/>
    </message>
    <portType name="VentaLibrosWSDLPortType">
        <operation name="VentaLibrosWSDLOperation">
            <input name="input1" message="tns:VentaLibrosWSDLOperationRequest"/>
            <output name="output1" message="tns:VentaLibrosWSDLOperationResponse"/>
        </operation>
        <operation name="NewClient">
            <input name="input2" message="tns:VentaLibrosWSDLOperation1Request"/>
            <output name="output2" message="tns:VentaLibrosWSDLOperation1Response"/>
        </operation>
        <operation name="NewProduct">
            <input name="input3" message="tns:VentaLibrosWSDLOperation1Request1"/>
            <output name="output3" message="tns:VentaLibrosWSDLOperation1Response1"/>
        </operation>
        <operation name="ModifyClient">
            <input name="input4" message="tns:VentaLibrosWSDLOperation1Request2"/>
            <output name="output4" message="tns:VentaLibrosWSDLOperation1Response2"/>
        </operation>
        <operation name="ModifyProduct">
            <input name="input5" message="tns:VentaLibrosWSDLOperation1Request3"/>
            <output name="output5" message="tns:VentaLibrosWSDLOperation1Response3"/>
        </operation>
    </portType>
    <binding name="VentaLibrosWSDLBinding" type="tns:VentaLibrosWSDLPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="VentaLibrosWSDLOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/ServiciosVenta/src/VentaLibrosWSDL"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/ServiciosVenta/src/VentaLibrosWSDL"/>
            </output>
        </operation>
        <operation name="NewClient">
            <soap:operation/>
            <input name="input2">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/ServiciosVenta/src/VentaLibrosWSDL"/>
            </input>
            <output name="output2">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/ServiciosVenta/src/VentaLibrosWSDL"/>
            </output>
        </operation>
        
        <operation name="NewProduct">
            <soap:operation/>
            <input name="input3">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/ServiciosVenta/src/VentaLibrosWSDL"/>
            </input>
            <output name="output3">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/ServiciosVenta/src/VentaLibrosWSDL"/>
            </output>
        </operation>
        <operation name="ModifyClient">
            <soap:operation/>
            <input name="input4">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/ServiciosVenta/src/VentaLibrosWSDL"/>
            </input>
            <output name="output4">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/ServiciosVenta/src/VentaLibrosWSDL"/>
            </output>
        </operation>
        <operation name="ModifyProduct">
            <soap:operation/>
            <input name="input5">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/ServiciosVenta/src/VentaLibrosWSDL"/>
            </input>
            <output name="output5">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/ServiciosVenta/src/VentaLibrosWSDL"/>
            </output>
        </operation>
        
    </binding>
    <service name="VentaLibrosWSDLService">
        <port name="VentaLibrosWSDLPort" binding="tns:VentaLibrosWSDLBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/VentaLibrosWSDLService/VentaLibrosWSDLPort"/>
        </port>
    </service>
    <plnk:partnerLinkType name="VentaLibrosWSDL">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="VentaLibrosWSDLPortTypeRole" portType="tns:VentaLibrosWSDLPortType"/>
    </plnk:partnerLinkType>
</definitions>
