Versión servicios con BD/AplicacionTuLibroOnline/src/jbiServiceUnits/ServiciosVenta/ServicioAlmacen/localhost_8080/TiendaElectronica/AlmacenService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://almacen.webservice.adictosaltrabajo.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://almacen.webservice.adictosaltrabajo.com/" name="AlmacenService">
<types>
<xsd:schema>
<xsd:import namespace="http://almacen.webservice.adictosaltrabajo.com/" schemaLocation="http://localhost:8080/TiendaElectronica/AlmacenService?xsd=1"/>
</xsd:schema>
</types>
<message name="modificarProducto">
<part name="parameters" element="tns:modificarProducto"/>
</message>
<message name="modificarProductoResponse">
<part name="parameters" element="tns:modificarProductoResponse"/>
</message>
<message name="comprobarIdCliente">
<part name="parameters" element="tns:comprobarIdCliente"/>
</message>
<message name="comprobarIdClienteResponse">
<part name="parameters" element="tns:comprobarIdClienteResponse"/>
</message>
<message name="comprobarISBN">
<part name="parameters" element="tns:comprobarISBN"/>
</message>
<message name="comprobarISBNResponse">
<part name="parameters" element="tns:comprobarISBNResponse"/>
</message>
<message name="comprobarSaldo">
<part name="parameters" element="tns:comprobarSaldo"/>
</message>
<message name="comprobarSaldoResponse">
<part name="parameters" element="tns:comprobarSaldoResponse"/>
</message>
<message name="modificarCliente">
<part name="parameters" element="tns:modificarCliente"/>
</message>
<message name="modificarClienteResponse">
<part name="parameters" element="tns:modificarClienteResponse"/>
</message>
<message name="altaProducto">
<part name="parameters" element="tns:altaProducto"/>
</message>
<message name="altaProductoResponse">
<part name="parameters" element="tns:altaProductoResponse"/>
</message>
<message name="comprobarStock">
<part name="parameters" element="tns:comprobarStock"/>
</message>
<message name="comprobarStockResponse">
<part name="parameters" element="tns:comprobarStockResponse"/>
</message>
<message name="altaCliente">
<part name="parameters" element="tns:altaCliente"/>
</message>
<message name="altaClienteResponse">
<part name="parameters" element="tns:altaClienteResponse"/>
</message>
<portType name="Almacen">
<operation name="modificarProducto">
<input wsam:Action="http://almacen.webservice.adictosaltrabajo.com/Almacen/modificarProductoRequest" message="tns:modificarProducto"/>
<output wsam:Action="http://almacen.webservice.adictosaltrabajo.com/Almacen/modificarProductoResponse" message="tns:modificarProductoResponse"/>
</operation>
<operation name="comprobarIdCliente">
<input wsam:Action="http://almacen.webservice.adictosaltrabajo.com/Almacen/comprobarIdClienteRequest" message="tns:comprobarIdCliente"/>
<output wsam:Action="http://almacen.webservice.adictosaltrabajo.com/Almacen/comprobarIdClienteResponse" message="tns:comprobarIdClienteResponse"/>
</operation>
<operation name="comprobarISBN">
<input wsam:Action="http://almacen.webservice.adictosaltrabajo.com/Almacen/comprobarISBNRequest" message="tns:comprobarISBN"/>
<output wsam:Action="http://almacen.webservice.adictosaltrabajo.com/Almacen/comprobarISBNResponse" message="tns:comprobarISBNResponse"/>
</operation>
<operation name="comprobarSaldo">
<input wsam:Action="http://almacen.webservice.adictosaltrabajo.com/Almacen/comprobarSaldoRequest" message="tns:comprobarSaldo"/>
<output wsam:Action="http://almacen.webservice.adictosaltrabajo.com/Almacen/comprobarSaldoResponse" message="tns:comprobarSaldoResponse"/>
</operation>
<operation name="modificarCliente">
<input wsam:Action="http://almacen.webservice.adictosaltrabajo.com/Almacen/modificarClienteRequest" message="tns:modificarCliente"/>
<output wsam:Action="http://almacen.webservice.adictosaltrabajo.com/Almacen/modificarClienteResponse" message="tns:modificarClienteResponse"/>
</operation>
<operation name="altaProducto">
<input wsam:Action="http://almacen.webservice.adictosaltrabajo.com/Almacen/altaProductoRequest" message="tns:altaProducto"/>
<output wsam:Action="http://almacen.webservice.adictosaltrabajo.com/Almacen/altaProductoResponse" message="tns:altaProductoResponse"/>
</operation>
<operation name="comprobarStock">
<input wsam:Action="http://almacen.webservice.adictosaltrabajo.com/Almacen/comprobarStockRequest" message="tns:comprobarStock"/>
<output wsam:Action="http://almacen.webservice.adictosaltrabajo.com/Almacen/comprobarStockResponse" message="tns:comprobarStockResponse"/>
</operation>
<operation name="altaCliente">
<input wsam:Action="http://almacen.webservice.adictosaltrabajo.com/Almacen/altaClienteRequest" message="tns:altaCliente"/>
<output wsam:Action="http://almacen.webservice.adictosaltrabajo.com/Almacen/altaClienteResponse" message="tns:altaClienteResponse"/>
</operation>
</portType>
<binding name="AlmacenPortBinding" type="tns:Almacen">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="modificarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="comprobarIdCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="comprobarISBN">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="comprobarSaldo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modificarCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="altaProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="comprobarStock">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="altaCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AlmacenService">
<port name="AlmacenPort" binding="tns:AlmacenPortBinding">
<soap:address location="http://localhost:8080/TiendaElectronica/AlmacenService"/>
</port>
</service>
</definitions>